$main_purple: #635FC7;
$main_purple_hover: #A8A4FF;
$black: #000112;
$white: #FFFFFF;
$red: #EA5555;
$red_hover: #FF9898;
$dark_grey: #2B2C37;
$very_dark_grey: #20212C;
$lines_dark: #3E3F4E;
$lines_light: #E4EBFA;
$medium_grey: #828FA3;
$light_grey: #F4F7FD;


body.light {
  --bg-color: #{$light_grey};
  --text-color: #{$medium_grey};
  --bg-color-aside: #{$white};
  //--box-shadow: #{$box_shadow_light};
  //--background-input: #{$background_input_light};
}

//body.dark {
//  --ca-bg-color: #{$bgColor_dark};
//  --ca-text-color: #{$text_color_dark};
//  --ca-box-shadow: #{$box_shadow_dark};
//  --ca-background-input: #{$background_input_dark};
//}
